[data-md-color-primary="grey"] .md-header{
  background-color: black;
}

.admonition.note {
  border-left: none;
}

.admonition.note > .admonition-title{
  background-color: lightgrey;
  border-bottom-color: lightgrey;
  color: black;
}
.admonition.note > .admonition-title::before{
  color: black;
}
